<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dadjoke</title>
  </head>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    html,
    body {
      height: 100%;
    }

    body {
      font-family: "Poppins", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #262626;
    }

    header {
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;
    }

    h1 {
      text-align: center;
      font-size: 44px;
      color: #56bc58;
    }
  </style>
  <body>
    <header>
      <a href="https://discord.com/api/oauth2/authorize?client_id=750783054024409210&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fvote%2F&response_type=code&scope=identify%20guilds">Login</a>
    </header>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
  </body>
</html>
