<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vote</title>
  </head>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    html,
    body {
      height: 100%;
    }

    body {
      font-family: "Poppins", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #262626;
    }

    header {
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;
    }

    h1 {
      text-align: center;
      font-size: 44px;
      color: #56bc58;
    }
  </style>
  <body>
    <header>
      <h1>Vote</h1>
    </header>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
  </body>
</html>
